<!DOCTYPE html>
<html lang="en">

<head>
  <title>Feedback</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />

</head>

<body style="background-color:#D04040">

  <nav class="navbar navbar-expand-sm bg-light navbar-light" style="margin-top: 50px;">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
      <img src="/static/red-classic-plus-sign-rAWXVO3-600.jpg" alt="logo" style="width:100px;">
    </a>
    <h1> </h1>
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/" style="color: black;"><h1>Shah Clinic</h1></a>
      </li> 
    </ul>

    
  </nav>

  <div class="container" style="background-color:white ; margin-top: 50px;width:400px; border-radius: 50px">
    <form class="form-horizontal" action="/savedetails122" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label class="control-label col-sm-10" for="Name" style="padding-top:15px">Patient Name:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="Name" placeholder="Enter Name" name="Name">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-10" for="Age">Age :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="Age" placeholder="Enter Age" name="Age">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-10" for="Husband">Husband Name :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="Husband" placeholder="Enter Husband" name="Husband">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-10" for="Address">Address:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="Address" placeholder="Enter Address" name="Address">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-10" for="Phone">Phone No:</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="Phone" placeholder="Enter Phone" name="Phone">
        </div>
      </div>


      <div class="form-group">
        <label class="control-label col-sm-10" for="Date">Date</label>
        <div class="col-sm-10">
          <input type="date" class="form-control" id="Date" placeholder="Enter Date" name="Date">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-10" for="Fees">Fees</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="Fees" placeholder="Enter Fees" name="Fees">
        </div>
      </div>


  <div class="form-group">
    <label class="control-label col-sm-10" for="Admission">Admission:</label>
    <div class="col-sm-10">
      <select id="mySelect" name="Admission">
        <option value="New">New Admission</option>
        <option value="Old">Old Admission</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-10" for="LMP">LMP :</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="LMP" placeholder="Enter LMP" name="LMP">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-10" for="EDD">EDD :</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="EDD" placeholder="Enter EDD" name="EDD">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-10" for="G_OR_P">G_OR_P :</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="G_OR_P" placeholder="Enter G_OR_P" name="G_OR_P">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-10" for="Remark">Remark :</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="Remark" placeholder="Enter Remark" name="Remark">
    </div>
  </div>

  <!--  <div class="form-group">  
     
      <div class="col-sm-offset-2 col-sm-3">
      	<div class="align-self-center mx-auto">
        <button type="submit" value="Submit"> Submit</button>
      </div>
</div>
    </div>
 -->
  <div class="text-center">
    <button type="submit" class="btn btn-default float" style="border: 2px solid red;">Submit</button>
  </div>

  <h4 style="margin-top: 65px; text-align: left;padding-left: 100px;"> {{msg}}</h4>

  </form>
  </div>

</body>

</html>